<!-- @author:Jose Gurtubay -->

{% extends 'base.html' %}

{% block contenido %} 

<div class="container">
    <div class="jumbotron my-4">
        <h3 class="texto-info">{{respondida.pregunta.texto|safe}}</h3>
        <p>
            <strong>Tu respuesta:</strong>
            {{respondida.respuesta.texto|safe}}

        </p>
    </div>

    {% if respondida.respuesta.correcta %}
        <h4 class="text-success">Yeah!!! tu respuesta es correcta</h4>
    {% else %}
        <h4 class="text-success">Tu respuesta es incorrecta!!!</h4>

        {% for respuesta in respondida.pregunta.opciones.all %}
            {% if respuesta.correcta %}
            <h4 class="text-success">{{respuesta}}</h4>
            {% endif %}
        <!-- <p>
            {{respuesta.texto}}{{repuesta.correcta}}
        </p> -->
        {% endfor %}
    {% endif %}

    <a href="{% url 'jugar' %}">
        <button class="btn-success">
            Continuar con la siguiente pregunta
        </button>
    </a>
</div>